html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    min-height: 100%;
    position: relative;
}

.background-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 297mm;
    background-color: #002B5B;
    z-index: -1;
}

.wrapper {
    display: flex;
    position: relative;
    min-height: 100%;
}

.container {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.left-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #002B5B;
    min-height: 297mm;
}

.main-content {
    width: 70%;
    margin-left: 30%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    color: #000000;
    min-height: 297mm;
}

.logo {
    display: block;
    margin: 0 auto 30px;
    max-width: 250px;
    width: 90%;
}

.icon {
    width: 45px;
    height: 45px;
    color: #FF1F7D;
}

h2 {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skills-list {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
    margin-left: 30px;
}

.languages-list {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}

.skills-list li::before,
.languages-list li::before {
    content: "•";
    margin-right: 10px;
}

.section-header {
    background-color: #002B5B;
    color: white;
    padding: 12px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    font-size: 25px;
    width: 100%;
    box-sizing: border-box;
}

.cv-id,
.job-title {
    color: #FF1F7D;
    text-align: right;
    display: block;
    margin-bottom: 15px;
}

.cv-id {
    font-size: 24px;
    font-weight: bold;
}

.job-title {
    font-size: 28px;
}

.education-header {
    margin-top: 30px;
}

.education-entry {
    margin-bottom: 20px;
}

.education-date {
    font-weight: bold;
    color: white;
}

.education-degree {
    font-weight: bold;
    color: white;
    margin-top: 5px;
}

.education-school {
    color: white;
    margin-top: 5px;
}

.experience-entry {
    margin-bottom: 20px;
}

.experience-date {
    font-weight: bold;
    color: black;
}

.experience-job-title {
    font-weight: bold;
    color: black;
    margin-top: 5px;
}

.experience-descriptions {
    list-style: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.iframe-container {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

@media print {
    .wrapper {
        min-height: 100%;
    }

    .left-sidebar {
        min-height: 100%;
        height: 100%;
    }

    .main-content {
        min-height: 100%;
        height: 100%;
    }
}